<%- layout('layout/layout') %>

<div class="page-content header-clear-medium">
    <div class="content">
        <div data-height="120" class="caption caption-image caption-rotate round-medium shadow-large">
            <div>
                    <img src="/images/goals/play2.png" data-src="/images/goals/play2.png" class="preload-image responsive-image">
            </div>
             <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                        <a  href="/main/newcheckbox" onclick="show_newfinal()" class="button" style="padding-top:20px">
                            <span><h1 class="center-text" style="float:left">푸켓 3박 5일 특가 : </h1><h1 style="text-decoration:line-through ; float:left; padding-left:15px">499,000원</h1></span>
                            <h1> [ 313,810원! ]</h1>
                        </a>
                        <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                        <script>
                            function show_newfinal() {
                                window.location.href="";
                            }
                        </script>
                    <!-- <div style="text-align:center"> 선물하기 -->
                </h1>

            </div>
            <div class="caption-overlay bg-black opacity-10"></div>
        </div>


        <div data-height="120" class="caption caption-image caption-rotate round-medium shadow-large">
            <div>
                    <img src="/images/goals/play3.png" data-src="/images/goals/play3.png" class="preload-image responsive-image">
            </div>
             <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                        <a  href="/main/newcheckbox" onclick="show_newfinal()" class="button" style="padding-top:20px">
                            <span><h1 class="center-text" style="float:left">캐논 DSR 카메라 : </h1><h1 style="text-decoration:line-through ; float:left; padding-left:15px">410,000원</h1></span>
                            <h1> [ 251,000원! ]</h1>
                        </a>
                        <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                        <script>
                            function show_newfinal() {
                                window.location. href="/main/newcheckbox";
                            }
                        </script>
                    <!-- <div style="text-align:center"> 선물하기 -->
                </h1>

            </div>
            <div class="caption-overlay bg-black opacity-10"></div>
        </div>

        <div data-height="120" class="caption caption-image caption-rotate round-medium shadow-large">
            <div>
                    <img src="/images/goals/play4.png" data-src="/images/goals/play4.png" class="preload-image responsive-image">
            </div>
             <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                        <a  href="/main/newcheckbox" onclick="show_newfinal()" class="button" style="padding-top:20px">
                            <span><h1 class="center-text" style="float:left">맥북 프로 레티나 13인치 : </h1><h1 style="text-decoration:line-through ; float:left; padding-left:15px">1,940,000원</h1></span>
                            <h1> 1,780,000원</h1>
                        </a>
                        <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                        <script>
                            function show_newfinal() {
                                window.location. href="/main/newcheckbox";
                            }
                        </script>
                    <!-- <div style="text-align:center"> 선물하기 -->
                </h1>
            </div>
            <div class="caption-overlay bg-black opacity-10"></div>
        </div>

        <div data-height="120" class="caption caption-image caption-rotate round-medium shadow-large">
            <div>
                    <img src="/images/goals/play5.png" data-src="/images/goals/play5.png" class="preload-image responsive-image">
            </div>
             <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                        <a  href="/main/newcheckbox" onclick="show_newfinal()" class="button" style="padding-top:20px">
                            <span><h1 class="center-text" style="float:left">삼성 갤럭시 노트9 : </h1><h1 style="text-decoration:line-through ; float:left; padding-left:15px">1,340,000원</h1></span>
                            <h1> 750,000원</h1>
                        </a>
                        <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                        <script>
                            function show_newfinal() {
                                window.location. href="/main/newcheckbox";
                            }
                        </script>
                    <!-- <div style="text-align:center"> 선물하기 -->
                </h1>
            </div>
            <div class="caption-overlay bg-black opacity-10"></div>
        </div>

        <div data-height="120" class="caption caption-image caption-rotate round-medium shadow-large">
            <div>
                    <img src="/images/goals/play7.png" data-src="/images/goals/play7.png" class="preload-image responsive-image">
            </div>
             <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                        <a  href="/main/newcheckbox" onclick="show_newfinal()" class="button" style="padding-top:20px">
                            <span><h1 class="center-text" style="float:left">소니 플레이스테이션 4 : </h1><h1 style="text-decoration:line-through ; float:left; padding-left:15px">310,000원</h1></span>
                            <h1> 273,000원</h1>
                        </a>
                        <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                        <script>
                            function show_newfinal() {
                                window.location. href="/main/newcheckbox";
                            }
                        </script>
                    <!-- <div style="text-align:center"> 선물하기 -->
                </h1>
            </div>
            <div class="caption-overlay bg-black opacity-10"></div>
        </div>
        <div data-height="120" class="caption caption-image caption-rotate round-medium shadow-large">
            <div>
                    <img src="/images/goals/Airpot.png" data-src="/images/goals/Airpot.png" class="preload-image responsive-image">
            </div>
             <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                        <a  href="/main/newcheckbox" onclick="show_newfinal()" class="button" style="padding-top:20px">
                            <span><h1 class="center-text" style="float:left">애플 정품 에어팟  : </h1><h1 style="text-decoration:line-through ; float:left">233,000원</h1></span>
                            <h1>193,810원</h1>
                        </a>
                        <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                        <script>
                            function show_newfinal() {
                                window.location. href="/main/newcheckbox";
                            }
                        </script>
                    <!-- <div style="text-align:center"> 선물하기 -->
                </h1>

            </div>
            <div class="caption-overlay bg-black opacity-10"></div>
        </div>



    </div>


</div>