<!-- 은경 -->
<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">

    <div class="content-boxed">
        <div class="content">
            <div class="list-columns-right" style="padding-top: 20px">
                <div>
                    <i class="fa fa-star color-yellow1-dark fa-3x"></i>
                    <h1 class="bolder font-16">목표를 선택하세요.</h1>
                    <p>
                        설정한 기간동안 달성할 목표를 선택하세요.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div data-height="150" class="caption caption-margins round-medium shadow-huge">
        <a href="/main/setTarget?title=뉴욕여행&goalAmt=3600000" class="caption-bg bg-18">
            <div class="caption-center left-15 text-left">
                <h3 class="color-white bolder font-22">뉴욕여행</h3>
                <span style="text-decoration: line-through"
                      class="under-heading color-white opacity-90 bottom-0 font-18">
                        670,000
                </span>
                <strong class="under-heading color-white opacity-90 bottom-0 font-18">
                    <i class="fas fa-arrow-right" style="margin: 0 10px"></i>3,600,000
                </strong>
            </div>
            <div class="caption-overlay bg-black opacity-30"></div>
        </a>
    </div>

    <div data-height="150" class="caption caption-margins round-medium shadow-large">
        <a href="/main/setTarget?title=애플워치&goalAmt=380000" class="caption-bg bg-28">
            <div class="caption-center left-15 text-left">
                <h1 class="color-white bolder font-22">애플워치</h1>
                <span style="text-decoration: line-through"
                      class="under-heading color-white opacity-90 bottom-0 font-18">
                        450,000
                    </span>
                <strong class="under-heading color-white opacity-90 bottom-0 font-18">
                    <i class="fas fa-arrow-right" style="margin: 0 10px"></i> 380,000
                </strong>
            </div>
            <div class="caption-overlay bg-black opacity-30"></div>
        </a>
    </div>

    <div data-height="150" class="caption caption-margins round-medium shadow-large">
        <a href="/main/setTarget?title=아이맥&goalAmt=3490000" class="caption-bg bg-26">
            <div class="caption-center left-15 text-left">
                <h1 class="color-white bolder font-22">아이맥</h1>
                <span style="text-decoration: line-through"
                      class="under-heading color-white opacity-90 bottom-0 font-18">
                        3,780,000
                    </span>
                <strong class="under-heading color-white opacity-90 bottom-0 font-18">
                    <i class="fas fa-arrow-right" style="margin: 0 10px"></i>3,490,000
                </strong>
            </div>
            <div class="caption-overlay bg-black opacity-50"></div>
        </a>
    </div>

    <div data-height="150" class="caption caption-margins round-medium shadow-large">
        <a href="/main/setTarget?title=안경&goalAmt=140000" class="caption-bg bg-20">
            <div class="caption-center left-15 text-left">
                <h1 class="color-white bolder font-22">안경</h1>
                <span style="text-decoration: line-through"
                      class="under-heading color-white opacity-90 bottom-0 font-18">
                        167,000
                </span>
                <strong class="under-heading color-white opacity-90 bottom-0 font-18">
                    <i class="fas fa-arrow-right" style="margin: 0 10px"></i>140,000
                </strong>
            </div>
            <div class="caption-overlay bg-black opacity-30"></div>
        </a>
    </div>

    <div class="content-boxed" onclick="go('/main/setTarget?title=&goalAmt=0')" style="cursor: pointer">

        <div class="content">
            <div class="list-columns-right" style="padding-top: 20px">
                <div >
                    <i class="fa fa-edit color-yellow1-dark fa-3x"></i>
                    <h1 class="bolder font-16">직접입력</h1>
                    <p>
                        원하는 목표를 직접 설정하세요.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
      function go(url) {
        window.location.href = url;
      }
    </script>
