<%- layout('layout/layout') %>
        <div class="page-content">

            <div style="margin-top: 80px">
                <div class="timeline-deco"></div>
                <% for(var i=0; i < tx_list.length  ;i++){ %>
                <div class="timeline-item">
                    <% if(tx_list[i].inout_type == '입금') {%>
                    <i class="fa fa-plus bg-pink2-dark shadow-large"></i>
                    <%}%>
                    <% if(tx_list[i].inout_type != '입금') {%>
                        <i class="fa fa-minus bg-blue2-dark shadow-large"></i>
                    <%}%>
                    <div class="timeline-item-content round-medium">
                        <span class="left-15 text-left"><%= tx_list[i].tran_date %><br></span>
                        <div class="left-15 text-left bolder" style="font-size:17px"><%= tx_list[i].print_content %></div>
                        <div class="right-15 text-right bolder" style="font-size:15px" ><%= tx_list[i].tran_amt %>원</div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <!-- Page Content Class Ends Here-->

        <div class="menu-hider"></div>
