<!-- 은경 -->
<%- layout('layout/layout') %>
<body class="theme-light" data-background="none" data-highlight="blue2">
        <div class="page-content">
                <div data-height="cover-header" class="caption bottom-100">
                    <div class="caption-center">
                    <!-- <form class="caption-center" action="/login" method="post" id="loginForm" name="loginForm"> -->
                        <div class="content-boxed left-40 right-40">
                            <div class="content-boxed">
                                <h2 class ="horizontal-center center-text" style="padding-bottom: 20px">나의 OO일 동안 예산: 원<br>현재 잔액 :    원</h2>
                            </div>
                            <div class="content-boxed">
                                    <h2 class ="horizontal-center center-text" style="padding-bottom: 20px">지금까지모은돈/ 목표금액</h2>
                                </div>
                            <div class="content top-20 bottom-40">
                                    <button type='button' class="horizontal-center round-image shadow-large bottom-30" ><img src="/images/20.png" alt="img" width="150"></button>
                                <h2 style="padding-top: 50px" class="center-text">Weight :       kg</h2>
                            </div>
                                <div class="clear"></div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
<script type="text/javascript" src="/scripts/jquery.js"></script>
<script type="text/javascript" src="/scripts/plugins.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>
</body>
