<!-- 재일 -->
<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">         
    <div class="divider divider-margins"></div>

        <div class="content-boxed">
            <div class="content top-20 bottom-0">                
                <img src="/images/21.png" alt="img" width="150" class="horizontal-center round-image shadow-large bottom-15">
                <h2 class="center-text" style="color: #3CD094">몇명의 보호자가 있습니까?</h2>
                <div class="divider"></div>      
                
            <div class="content" style="text-align:center">
                <div class="demo-buttons">
               
                <a href="#" onclick = "show_alone()" class="button button-3d button-m button-circle shadow-small border-green1-dark bg-green1-light" style="float:left; margin-left : 19%">혼자 기르기</a>
                    <script>
                        function show_alone(){
                            window.location.href = "/main/goalList"
                        }
                    </script>

                <!-- <a href="#" class="button button-3d button-m button-circle shadow-small border-green1-dark bg-green1-light">Button</a> -->
                <a href="#" class="button button-3d button-m button-circle shadow-small border-blue2-dark bg-blue2-light" style="float:left">함께 기르기</a>
                </div>
            </div>      
            <div class="clear"></div>
        
            
             </div>
        </div>
	<div class="divider divider-margins"></div>
</div>