<!-- 은경 -->
<%- layout('layout/layout') %>

<body class="theme-light" data-background="none" data-highlight="blue2">
    <div class="page-content">
        <div data-height="cover-header" class="caption bottom-100">
            <div class="caption-center">
                <!-- <form class="caption-center" action="/login" method="post" id="loginForm" name="loginForm"> -->
                <div class="content-boxed left-40 right-40">
                    <div class="content top-20 bottom-40">
                        <span style="padding: 50px"></span>
                        <button onclick="showSetTarget()" class="horizontal-center round-image shadow-large bottom-30"><img
                                src="/images/icons/plus_icon.png" alt="img" width="150"></button>
                        <h2 style="padding-top: 50px" class="center-text" style="color:#3CD094">Make Your Pig Get Weight
                        </h2>
                        <script>
                                function showSetTarget(){
                                    window.location.href="setTarget";
                                }
                              </script>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/plugins.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>
</body>