<%- layout('layout/layout') %>
    <!-- <div class="content-boxed">
        <div class="content top-20 bottom-0">
            <img src="/images/20.png" alt="img" width="70" class="horizontal-center round-image shadow-large bottom-30">
            <h2 class="boxed-text-large color" style="color:#3CD094"> 목표를 달성하기 위해서, 선택하세요!</h2>

            <div class="divider"></div>

            <div class="one-half">
                <h1 class="center-text uppercase ultrabold fa-3x">100+</h1>
                <h6 class="center-text uppercase bolder color-highlight top-10">Templates & Themes</h6>
                <p class="center-text">
                    We have over 100 mobile<br> items in our portfolio.
                </p>
            </div>
            <div class="one-half last-column">
                <h1 class="center-text uppercase ultrabold fa-3x">70+</h1>
                <h6 class="center-text uppercase bolder color-highlight top-10">Hybrid Apps</h6>
                <p class="center-text">
                    We have over 70 mobile<br> items in our portfolio.
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </div> -->
    <div class="page-content header-clear-medium">         
        <div class="divider divider-margins"></div>
        
        <div class="content-boxed">
            <div class="content top-20 bottom-0">                
                <img src="/images/20.png" alt="img" width="70" class="horizontal-center round-image shadow-large">
                <h1 class="center-text" style="color: #3CD094">Make Your Pig Get Weight</h1>
                <div class="divider"></div>

                <div class="one-half">
                    <h1 class="center-text uppercase ultrabold fa-3x">100+</h1>
                    <h6 class="center-text uppercase bolder color-highlight top-10">Templates & Themes</h6>
                    <p class="center-text">
                        We have over 100 mobile<br> items in our portfolio. 
                    </p>
                </div>
                <div class="one-half last-column">
                    <h1 class="center-text uppercase ultrabold fa-3x">70+</h1>
                    <h6 class="center-text uppercase bolder color-highlight top-10">Hybrid Apps</h6>
                    <p class="center-text">
                        We have over 70 mobile<br> items in our portfolio.
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
		<div class="divider divider-margins"></div>
    </div>