<!-- 재일 -->
<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">
        <div class="content">
                <div class="pricing-1 round-medium shadow-small bg-white">
                    <h1 class="pricing-icon center-text">
                        <!-- <i class="pricing-icon fa fa-star color-yellow1-light"></i></h1> -->
                        <img src="/images/21.png" alt="img" width="100" class="horizontal-center round-image shadow-large bottom-15">
                    <!-- <h1 class="pricing-title center-text uppercase">Basic</h1>
                    <h2 class="pricing-subtitle center-text">All the essential features<br> and email support</h2> -->
                    <ul class="pricing-list center-text">
                            <div id="result_name"> </div><li>님 축하합니다!</li>
                            <div id="result_day"> </div><li>일 기간동안</li>
                            <div id="result_money"> </div><li>원 모으셨습니다.</li>
                        <li style="color:darkorchid">* 돼지를 눌러 선물을 확인하세요</li>
                    </ul>
                    <!-- <h3 class="pricing-value center-text bottom-30 color-green-dark">$19<sup>.99</sup></h3> -->
                    <a href="#" class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10">확인</a>
                </div>		
                <div class="clear"></div>
            </div>		
</div>