<!-- 재일 -->
<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">
            <div class="content-boxed">
                    <div class="content">
                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-user"></i>
                            <span>Name</span>
                            <em>(required)</em>
                            <input type="name" placeholder="Name">
                        </div> 
            
                        <div class="input-style input-style-1 input-required">
                            <span>Email</span>
                            <em>(required)</em>
                            <input type="email" placeholder="Email">
                        </div>         
            
                        <div class="input-style input-style-1 input-required">
                            <span>Password: Minimum 8 Characters and 1 Number</span>
                            <em>(required)</em>
                            <input type="password" placeholder="Password">
                        </div>       
            
                        <div class="input-style input-style-1 input-required">
                            <span>Website</span>
                            <em>(required)</em>
                            <input type="url" placeholder="Website">
                        </div>  
            
                        <div class="input-style input-style-1 input-required">
                            <span>Phone</span>
                            <em>(required)</em>
                            <input type="tel" placeholder="Phone">
                        </div>
            
                        <div class="input-style input-style-1 input-required">
                            <span>Select a Value</span>
                            <em><i class="fa fa-angle-down"></i></em>
                            <select>
                                <option value="default" disabled selected>Select a Value</option>
                                <option value="iOS">iOS</option>
                                <option value="Linux">Linux</option>
                                <option value="MacOS">MacOS</option>
                                <option value="Android">Android</option>
                                <option value="Windows">Windows</option>
                            </select>
                        </div>
                        <div class="input-style input-style-1 input-required">
                            <span>Enter your message</span>
                            <em>(required)</em>
                            <textarea placeholder="Enter your message"></textarea>
                        </div>
            
                        <div class="input-style input-style-1 input-required">
                            <span>Select your Birthday</span>
                            <em><i class="fa fa-angle-down"></i></em>
                            <input type="date" value="1980-08-26">
                        </div>
                    </div>
    </div>
</div>