<!-- 재일 -->
<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">
        <div class="content">
                <div class="pricing-1 round-medium shadow-small bg-white top-30">
                    <h1 class="pricing-icon center-text">
                        <!-- <i class="pricing-icon fa fa-star color-yellow1-light"></i></h1> -->
                        <img src="/images/21.png" alt="img" width="100" class="horizontal-center round-image bottom-15">
                    <!-- <h1 class="pricing-title center-text uppercase">Basic</h1>
                    <h2 class="pricing-subtitle center-text">All the essential features<br> and email support</h2> -->
                    <ul class="pricing-list center-text">
                            <div id="result_name"> </div><li><strong>안수경님</strong> 축하합니다!</li>
                            <div id="result_day"> </div><li><strong>275</strong>일 동안</li>
                            <div id="result_money"> </div><li><strong>3,600,000원</strong>을 모으셨습니다.</li>
                        <li style="color:darkorchid">* 버튼을 눌러 깜짝 선물을 확인하세요</li>
                    </ul>
                    <!-- <h3 class="pricing-value center-text bottom-30 color-green-dark">$19<sup>.99</sup></h3> -->
                    <a href="#" onclick="show_threebutton()" style="background: #CEC0AE" class="button button-s button-round uppercase button-center-medium bottom-10">선물 받기</a>
                    <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                    <script>
                        function show_threebutton() {
                            window.location.href="threeButton";
                        }
                    </script>
                </div>		
                <div class="clear"></div>
            </div>		
</div>