<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">	
        <link rel="stylesheet" type="text/css" href="styles/blog.css">
        
        <div class="content-boxed">
            <div class="content bottom-0">
                    <div class="blog-list-item">
                            <strong>한국 인터넷 진흥원 IT 센터 </strong><br>
                            <span><i class="fas fa-clock"> </i>2019-02-19 <a href="#" class="color-highlight">12,000원</a></span>
                    </div><br>

                    <strong>서울 지하철</strong><br>
                    <span><i class="fas fa-clock"> </i>2019-02-19 <a href="#" class="color-highlight">Gadgets</a></span>
                    </div><br>

            </div>
        </div>
</div>