<!-- 재일 -->
<%- layout('layout/login_layout') %>
<body class="theme-light" data-background="none" data-highlight="blue2" >
        
    <div class="page-content medium" style="color: #E96A57">   
                <div data-height="cover-header" class="caption bottom-0">
                    <form class="caption-center" action="/login" method="post" id="loginForm" name="loginForm">
                        <div class="content-boxed left-40 right-40">
                            <div class="content top-20 bottom-40">
                                   
                                <!-- <h1 class="center-text uppercase ultrabold fa-3x"><Main>Make Your Pig Get Weight</Main></h1> -->
                                <!-- <p class="center-text font-11 under-heading bottom-30 color-highlight">
                                    Make Your Pig Get Weight
                                </p> -->
                                
                                <h1 class="center-text" style="color: #CC9999 ; padding-bottom : 25px; font-family: fantasy">Make Your Pig Get Weight</h1>
                                <img src="/images/20.png" alt="img" width="170" class="horizontal-center round-image shadow-large bottom-30">
                                <h1> </h1>
                                <div class="input-style has-icon input-style-1 input-required">
                                    <i class="input-icon fa fa-user font-11"></i>
                                    <span>Username</span>
                                    <em>(required)</em>
                                    <input type="text" name="username" placeholder="Username">
                                </div>
                                <div class="input-style has-icon input-style-1 input-required">
                                    <i class="input-icon fa fa-lock font-11"></i>
                                    <span>Password</span>
                                    <em>(required)</em>
                                    
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                                <div class="clear"></div>
                                <a href="#" id="submitBtn" onclick="onSubmit()" style="background: #CEC0AE"
                                   class="button button-full button-m shadow-large button-round-small top-30 bottom-0">LOGIN</a>
            
                                <a href="/signup" style="margin-top: 10px; background:#CC9999" 
                                   class="default-link button button-m shadow-huge button-round-large bottom-30 button-full ">Signup</a>
                                <script>
                                  function onSubmit(){
                                    document.getElementById('loginForm').submit()
                                  }
                                </script>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


</body>
