<%- layout('layout/layout') %>

<div class="page-content header-clear-medium">
        
      
        <div class="content">
                <div class="pricing-1 round-medium shadow-small bg-white">
                    <h1 class="pricing-icon center-text"><i class="pricing-icon fa fa-star color-yellow1-light"></i></h1>
                   
                    <h2 class="pricing-subtitle center-text">원</h2>
                    <ul class="pricing-list center-text">
                        
                        <li>님이 선물을 위해</li>
                        <li>일 동안 모았습니다.</li>
                        <br>
                        <li>은행 : </li>
                        <li>계좌번호 : </li>
                        <li>쿠폰번호 : </li>
                       
                    </ul>
                    <!-- <h3 class="pricing-value center-text bottom-30 color-green-dark">$19<sup>.99</sup></h3> -->
                    <a href="#" class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10">확인</a>
                </div>		
                <div class="clear"></div>
            </div>	
    <!-- Page Content Class Ends Here-->