<%- layout('layout/layout') %>
<div class="page-content header-clear-medium">   

        <div class="content-boxed content-boxed-full">
            <a href="#" data-instant-id="instant-1">
                <img src="/images/letter1.jpg" data-src="/images/letter1.jpg" alt="img" class="preload-image responsive-image round-small shadow-large">
            </a>
            <div class="content bottom-10">
                <h2 class="bolder top-30">쪽지를 써보세요.</h2>
                <p class="bottom-15">
                       
                        <hr></hr>
                        <hr size = "5">
                        <hr width="100px">
                       
                </p>
                  
                <a href="#" class="line-height-huge">
                    <span class="color-theme"><i class="fa fa-bookmark font-10 right-10"></i></span>
                    <span class="color-highlight"> 카카오톡으로 보내기</span>
                </a>  
                <a href="#" class="line-height-huge">
                    <span class="color-theme"><i class="fa fa-bookmark font-10 right-10"></i></span>
                    <span class="color-highlight">문자메세지로 보내기</span>
                </a>
            </div>
        </div>
                
        
        
     
    </div>
    