<!-- 은경 -->
<%- layout('layout/layout') %>

<body class="theme-light" data-background="none" data-highlight="blue2">
        <div class="page-content">
                <div data-height="cover-header" class="caption bottom-0">
    <!-- <div id="page">
        <div class="page-content header-clear-medium"> -->
            <form class="caption-center" action="/api/createTarget" method="post" id="createTarget" name="createTarget">
                <div class="content-boxed">
                    <div class="content">
                        <div class="center-text font-30 bolder" style="padding-bottom: 30px; padding-top: 15px">나의 목표</div>

                        <div class="input-style input-style-2 input-required">
                            <span>목표를 입력하세요.</span>
                            <em>(required)</em>
                            <input type="text" name="goal" placeholder="">
                        </div>

                        <div class="input-style input-style-2 input-required">
                            <span>목표금액을 입력하세요.</span>
                            <em>(required)</em>
                            <input type="text" name="goalAmt" placeholder="">
                        </div>

                        <div class="input-style input-style-2 input-required">
                                <span>출금 계좌를 선택하세요.</span>
                                <em><i class="fa fa-angle-down"></i></em>
                                <select>
                                    <option value="text" name="withdrawAcct" disabled selected>Select a Value</option>
                                </select>
                            </div>
                            
                        <div class="input-style input-style-2 input-required">
                            <span>예산 사용 기간</span>
                            <em><i class="fa fa-angle-down"></i></em>
                            <select>
                                <option value="default" disabled selected>Select a Value</option>
                                <option value="1">하루</option>
                                <option value="2">일주일</option>
                                <option value="3">15일</option>
                                <option value="4">1개월</option>
                                <option value="5">직접 입력</option>
                            </select>
                        </div>

                        <div class="input-style input-style-2 input-required">
                            <span>예산을 입력하세요.</span>
                            <em>(required)</em>
                            <input type="text" name="budgetAmt" placeholder="">
                        </div>

                        <div class="center-text content bottom-0">
                            <a href="#" onclick="onSubmit()" class="button button-m shadow-small bg-mint-dark">돼지 키우기!</a>
                        </div>
                        <script>
                                function onSubmit(){
                                    document.getElementById('createTarget').submit()
                                }
                              </script>
            </form>
        </div>
    </div>

</body>