<!-- 은경 -->
<%- layout('layout/layout') %>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous">
    </script>
<script>
    $.ajax({
        url: '/api/account_list',
        success: function (data) {
            console.log(data);
            var res_list = data.res_list;
            console.log(res_list);
            var x = document.getElementById("list");
            var option = document.createElement("option");
            var idx = 0;
            for (var i = 0; i < res_list.length; i++) {
                console.log(res_list[i]);
                $("#list").append("<option>" + res_list[i].bank_name + ' - ' + res_list[i].account_num_masked + '</option>')

            }
        }
    })
</script>



    <div class="page-content header-clear-medium">

        <div data-height="cover-header" class="caption bottom-0">

            <form class="caption-center" action="/api/createTarget" method="post" id="createTarget" name="createTarget">
                <div class="content-boxed">
                    <div class="content">
                        <!-- <div class="center-text font-30 bolder" style="padding-bottom: 30px; padding-top: 15px">나의 목표
                        </div> -->
                        <img src="/images/icons/mygoal_logo.png" width="230" alt="img" class="horizontal-center">
                        <!--<div class="input-style-2 input-required">-->
                            <!--<span>목표를 입력하세요.</span>-->
                        <div class="form-field form-name">
                            <label style="margin: 0 5px" for="goal">목표:<span>(required)</span></label>
                            <input type="text" name="goal" class="round-small" placeholder="목표를 입력하세요." value="<%= result.title%>" text="result.title%>">
                        </div>
                        <!--</div>-->

                        <div class="form-field form-name">
                            <label style="margin: 0 5px" for="goal">목표금액:<span>(required)</span></label>
                            <input type="text" name="goalAmt" class="round-small" placeholder="목표를 입력하세요." value="<%= result.goalAmt%>" text="result.title%>">
                        </div>

                        <div class="input-style input-style-2 input-required" style="margin-top: 5px">
                            <span>출금 계좌를 선택하세요.</span>
                            <em><i class="fa fa-angle-down"></i></em>
                            <select id="list" name="withdrawAcct">
                                <option value="text" disabled selected></option>
                            </select>
                        </div>

                        <div class="input-style input-style-2 input-required">
                            <span>예산 사용 기간</span>
                            <em><i class="fa fa-angle-down"></i></em>
                            <select name="myPeriod">
                                <option value="default" disabled selected>Select a Value</option>
                                <option value="하루">하루</option>
                                <option value="일주일">일주일</option>
                                <option value="15일">15일</option>
                                <option value="1개월">1개월</option>
                            </select>
                        </div>

                        <div class="input-style input-style-2 input-required">
                            <span>예산을 입력하세요.</span>
                            <em>(required)</em>
                            <input type="text" name="budgetAmt" class="round-small" placeholder="">
                        </div>

                        <div class="input-style input-style-2 input-required" >
                                <span>각오 한마디</span>
                                <input type="text" name="promise" class="round-small" placeholder="">
                        </div>

                        <div class="center-text content bottom-0 top-20">
                            <a href="#" id="submitBtn" onclick="onSubmit()" style="margin-top:10px;background: #CC9999"
                               class="default-link button button-m shadow-huge button-round-large bottom-10 button-full">돼지키우기</a>
                        </div>

                        <script>
                            function onSubmit() {
                                document.getElementById('createTarget').submit()
                            }
                        </script>
            </form>
        </div>
    </div>
