<%- layout('layout/layout') %>
<div class="page-content" style="background: linear-gradient(0deg,#C15140,#E96A57)">

    <form action="/signup" method="post" name="signupForm" id="signupForm">
    <div data-height="cover-header" class="caption bottom-0">
        <div class="caption-center">
            <div class="content-boxed left-40 right-40">
                <div class="content top-10 bottom-20">
                    <h1 class="center-text uppercase ultrabold fa-3x">Register</h1>
                    <p class="center-text color-highlight font-11 under-heading bottom-30">
                        Don't have an account? Register here.
                    </p>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-user font-11"></i>
                        <span>Username</span>
                        <em>(required)</em>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-at"></i>
                        <span>Email</span>
                        <em>(required)</em>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-lock font-11"></i>
                        <span>Password</span>
                        <em>(required)</em>
                        <input type="password" name="password" placeholder="Choose a Password">
                    </div>
                    <div class="input-style has-icon input-style-1 input-required">
                        <i class="input-icon fa fa-lock font-11"></i>
                        <span>Password</span>
                        <em>(required)</em>
                        <input type="password" name="password2" placeholder="Confirm your Password">
                    </div>
                    <div class="top-20 bottom-20">
                        <a href="/login" data-menu="menu-signin" class="center-text font-11 color-gray2-dark">Already Registered? LogIn Here.</a>
                    </div>
                    <div class="clear"></div>
                    <a href="#" onclick="main()" class="button button-full button-m shadow-large button-round-small bg-green1-dark top-10 bottom-0">확인</a>
                </div>
            </div>
        </div>
    </div>
    </form>
    <script>
        function main(){
            window.location.href="/login";
        }
      </script>
</div>
<!-- Page Content Class Ends Here-->