<%- layout('layout/layout') %>

<div class="page-content header-clear-medium" >



    <div class="content">


        <div data-height="180" class="caption caption-image caption-rotate round-medium shadow-large">
            <div>
                    <img src="/images/gift1.jpg" data-src="/images/gift1.jpg" class="preload-image responsive-image">
            </div>
             <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                        <a href="#" onclick="show_newfinal()" class="button">선물 하기</a>
                        <!-- <button class="button bg-green1-dark button-s button-round uppercase button-center-medium bottom-10" style="padding-"> 테스트</button> -->
                        <script>
                            function show_newfinal() {
                                window.location.href="/main/reportUser";
                            }
                        </script>
                    <!-- <div style="text-align:center"> 선물하기 -->
                </h1>

            </div>
            <div class="caption-overlay bg-black opacity-30"></div>
        </div>


        <div data-height="180" class="caption caption-image caption-rotate round-medium shadow-large">
                <style>
                        div { text-align: center; }
                    </style>
                <img src="/images/coupon.png" data-src="/images/coupon.png" class="center-core">
           

            <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                    <div style="text-align:center">다른 선물고르기
                </h1>
            </div>
            <div class="caption-overlay bg-black opacity-30"></div>
        </div>


        <div data-height="180" class="caption caption-image caption-rotate round-medium shadow-large">
                <style>
                        div { text-align: center; }
                    </style>
            <div class = "center-core">
                    <img src="/images/bankbook.jpg" data-src="/images/bankbook.jpg" class="preload-image responsive-image">
            </div>
            <div class="caption-center left-20">
                <h1 class="color-white bolder top-10">
                    <div style="text-align:center">내 통장으로 반환
                </h1>

            </div>
            <div class="caption-overlay bg-black opacity-30"></div>
        </div>



    </div>


</div>