<div id="menu-call" class="menu menu-box-bottom menu-box-detached round-large" data-menu-height="340" data-menu-effect="menu-over">
    <div class="content bottom-0">
        <div class="menu-title"><h1>Tap to Call</h1><p class="color-highlight">Select your Departament by Tapping.</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a></div>
        <div class="divider bottom-0"></div>
        <div class="link-list link-list-1 bottom-0">
            <a href="#">
                <i class="fa fa-credit-card color-red1-dark"></i>
                <span class="font-13">Sales</span>
                <em class="bg-highlight">TAP TO CALL</em>
            </a>
            <a href="#">
                <i class="font-15 fa fa-building color-blue2-dark"></i>
                <span class="font-13">Office</span>
                <em class="bg-highlight">TAP TO CALL</em>
            </a>
            <a href="#">
                <i class="font-15 fa fa-life-ring color-brown2-dark"></i>
                <span class="font-13">Support</span>
                <em class="bg-highlight">TAP TO CALL</em>
            </a>
            <a href="#">
                <i class="font-12 fa fa-truck color-magenta2-dark"></i>
                <span class="font-13">Shipping</span>
                <em class="bg-highlight">TAP TO CALL</em>
            </a>
            <a href="#" class="center-text no-border">
                <span class="font-12 right-10">Monday to Friday - 09:00AM - 05:00PM</span>
            </a>
        </div>
    </div>
</div>