<div id="footer-menu" class="footer-menu-5-icons footer-menu-style-1"
 style="background: #CC9999" >
    <span style="font-family: fantasy"><h1 class=text-center style="color: cornsilk;font-family: inherit; "></h1></span>
    <!-- <div class="clear"></div> -->
</div>