<div class="header header-fixed header-logo-left">
    <a href="index.html" class="header-title">Sticky Mobile</a>
    <a href="page-contact.html" class="header-icon header-icon-1"><i class="fas fa-envelope"></i></a>
    <a href="#" data-toggle-theme-switch class="header-icon header-icon-2"><i class="fas fa-moon"></i></a>
</div>