<div class="header header-fixed header-logo-left">
    <a href="/" class="header-title">모으면 돼지</a>
    <a href="/logout" class="header-icon header-icon-1"><i class="fas fa-sign-out-alt"></i></a>
</div>