<div class="header header-fixed header-logo-left" style="background: #CC9999 ">
    <a href="/" class="header-title">Make Your Pig Get Weight</a>
    <a href="/logout" class="header-icon header-icon-1"><i class="fas fa-sign-out-alt"></i></a>
</div>